---
layout: default
---
{% for page in paginator.posts %}
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
    <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">posted on {{ page.date | date: date_format }}{% if page.author %} by {{ page.author }}{% else if site.author %} by {{ site.author }}{% endif %}</time>
    {%- if page.categories.size > 0 -%}
    <categories>
    |&nbsp;categories:&nbsp;
    {%- for category in page.categories -%}
    <a href="{{site.baseurl}}/pages/categories/#{{category|slugize}}">{{category}}</a>
    {%- unless forloop.last -%}&nbsp;{%- endunless -%}
    {%- endfor -%}
    </categories>
    {%- endif -%}
    </div>
</header>
  {{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">read more »</a></footer>
  {% endunless %}
</article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<footer>
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
{% endif %}
